header.header
    .header__container
        .header__logo 
            img(src='../img/Logo.svg', alt="logo")
            span Supplement
        .header__nav 
           .burger-item-1 
           .burger-item-2
           .burger-item-3
        .header__menu 
            ul.header__menu-list 
                li
                    a(href="#fetures") Fetures
                li
                    a(href="#rezults") Real Results
                li
                    a(href="#testimonials") TESTIMONIALS
                li
                    a(href="#facts") Facts
                li
                    a(href="#certifications") Certifications
                li
                    a(href="#supplement") A Supplement
                li
                    a(href="#subscribe") Subscribe 
                li
                    a(href="#issue") Your Issue

  
