doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Adele
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="shortcut icon", href="img/favicon-32x32.png", type="image/x-icon")
            link(rel="stylesheet" href="css/style.min.css")
    body
        block header
            include header
        block section
            include section-do_it
            include sec_description
            include sec_fetures
            include sec_real-rezults
            include sec_testimonials
            include sec_facts
            include sec_certifications
            include sec_supplement
            include sec_subscribe
            include sec_issue
        block footer
            include footer
        block scripts
            script(src='js/main.min.js')
