section.fetures#fetures
    .container.fetures__container
        .fetures__title.section__title
            h2 Fetures    
            p  We Offer
            p Don’t forget to check these real success.

        .fetures__list-container-left
            ul.fetures__contant-list 
                li Increased Energy
                li Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu
            ul.fetures__contant-list 
                li Weight Loss
                li Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
        .fetures__img
            img(src="../img/fetures_img.png", alt="people with good athletic shape")

        .fetures__list-container-right
            ul.fetures__contant-list
                li Bone Builder
                li Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
            ul.fetures__contant-list 
                li Stress Release
                li Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonu 
      
