section.testimonials
    .container.testimonials__container
        .testimonials__title.section__title
            h2 Client    
            p  TESTIMONIALS
            p We don’t just sell, we’re beloved too.
        .testimonials__slider
            .testimonials__slider-item 
                p.testimonials__slider-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minimveniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip. sed diam nonummy nibh euismod.
                .testimonials__slider-img
                    img(src="../img/alena_testimonials.png", alt="alena")
                .testimonials__slider-name 
                    p Alena Parker
                    p Sydney, Australia
                    p.testimonials__slider-name-border
            .testimonials__slider-item 
                p.testimonials__slider-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minimveniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip. sed diam nonummy nibh euismod.
                .testimonials__slider-img
                    img(src="../img/alena_testimonials.png", alt="alena")
                .testimonials__slider-name 
                    p Kate Parker
                    p Sydney, Australia
                    p.testimonials__slider-name-border
            .testimonials__slider-item 
                p.testimonials__slider-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minimveniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip. sed diam nonummy nibh euismod.
                .testimonials__slider-img
                    img(src="../img/alena_testimonials.png", alt="alena")
                .testimonials__slider-name 
                    p Loren Parker
                    p Sydney, Australia
                    p.testimonials__slider-name-border
        .testimonials__slider-points 
           

            