section.certifications#certifications
    .container 
        .certifications__title
            h2 Certifications
            p We don’t sell craps, We’re certified.
        .certifications__content
            .certifications__content-icon
                img(src="img/certif_logo-1.png", alt="certification logo")
            .certifications__content-icon
                img(src="img/certif_logo-2.png", alt="certification logo")
            .certifications__content-icon
                img(src="img/certif_logo-3.png", alt="certification logo")
            .certifications__content-icon
                img(src="img/certif_logo-4.png", alt="certification logo")
            .certifications__content-icon
                img(src="img/certif_logo-5.png", alt="certification logo")

