section.issue
    .container 
         .issue__title.section__title
            h2 Inquire     
            p  Your Issue
            p We’re always happy to reply our customers.
         form.issue__form(action="##")
            input.issue__name(type="text", name="name", placeholder="Name") 
            input.issue__email(type="email", name="email",placeholder="Email")
            textarea.issue__subject(name="subject", cols="30", rows="10",placeholder="Subject")
            button.issue__submit(type="submit") SEND