section.subscribe#subscribe
    .container
        .section__title.subscribe__title
            h2 Subscribe          
            p for tips &amp; Offers
            p We regularly knock our customers with useful tips and offers.
        form.subscribe__form
            input(type="email", name="subscribe_email", id="subscribe_email", placeholder="Enter Your Email", required)
            button(type="submit", id="subscribe_button") Subscribe