section.rezults#rezults 
      .container.rezults__container
        .rezults__title.section__title
            h2 Real Man   
            p  Real Results   
            p Don’t forget to check these real success.
        .rezults__slider
            .rezults__slider-prevArrow
                img(src="../img/arroy_prev.svg", alt="back arrow")

            .result__slider-display
                .rezults__slider-item
                    .slider__img-before 
                        img(src="../img/real_man-befor.png", alt="real man before")
                    .slider__img-after
                        img(src="../img/real_man-after.jpg", alt="real man after")
                
                
                    .rezults__slider-text
                        .rezults__slider-text-before 87
                            span kg
                            p Before
                        .rezults__slider-text-after 63 
                            span kg
                            p After
                        .rezults__slider-text-name Mike Andersen 
                            p Age: 28
                
                .rezults__slider-item
                    .slider__img-before 
                        img(src="../img/real_man-after.jpg", alt="real man before")
                    .slider__img-after
                        img(src="../img/real_man-befor.png", alt="real man after")
                
                
                    .rezults__slider-text
                        .rezults__slider-text-before 87
                            span kg
                            p Before
                        .rezults__slider-text-after 63 
                            span kg
                            p After
                        .rezults__slider-text-name Mike Andersen 
                            p Age: 28

                .rezults__slider-item
                    .slider__img-before 
                        img(src="../img/real_man-befor.png", alt="real man before")
                    .slider__img-after
                        img(src="../img/real_man-after.jpg", alt="real man after")
                
                
                    .rezults__slider-text
                        .rezults__slider-text-before 87
                            span kg
                            p Before
                        .rezults__slider-text-after 63 
                            span kg
                            p After
                        .rezults__slider-text-name Mike Andersen 
                            p Age: 28

                
                .rezults__slider-item
                    .slider__img-before 
                        img(src="../img/real_man-befor.png", alt="real man before")
                    .slider__img-after
                        img(src="../img/real_man-after.jpg", alt="real man after")
                
                
                    .rezults__slider-text
                        .rezults__slider-text-before 87
                            span kg
                            p Before
                        .rezults__slider-text-after 63 
                            span kg
                            p After
                        .rezults__slider-text-name Mike Andersen 
                            p Age: 28
                .rezults__slider-item
                    .slider__img-before 
                        img(src="../img/real_man-befor.png", alt="real man before")
                    .slider__img-after
                        img(src="../img/real_man-after.jpg", alt="real man after")
                
                
                    .rezults__slider-text
                        .rezults__slider-text-before 87
                            span kg
                            p Before
                        .rezults__slider-text-after 63 
                            span kg
                            p After
                        .rezults__slider-text-name Mike Andersen 
                            p Age: 28

            .rezults__slider-nextArrow
                img(src="../img/arroy_next.svg", alt="next arrow")

        .rezults__slider-points 
            

