section.certifications#certifications
    .container 
        .certifications__title
            h2 Certifications
            p We don’t sell craps, We’re certified.
        .certifications__content
            .certifications__content-icon
                img(src="img/certif_logo-1.webp", alt="certification logo")
            .certifications__content-icon
                img(src="img/certif_logo-2.webp", alt="certification logo")
            .certifications__content-icon
                img(src="img/certif_logo-3.webp", alt="certification logo")
            .certifications__content-icon
                img(src="img/certif_logo-4.webp", alt="certification logo")
            .certifications__content-icon
                img(src="img/certif_logo-5.webp", alt="certification logo")

