section.facts#facts
    .container.facts__container

        .facts__title.section__title
            h2 Supplement    
            p  Facts
            p We’re brave enough to show what we use.
        .facts__content
            ul.facts__list
                li Ingredients 
                    span Per Serving
                    span (MG)
                li.facts__list-item Citrus Aurantium
                    span 100
                li.facts__list-item Green Coffee Extract
                    span 72
                li.facts__list-item Green Tea Extract
                    span 88
                li.facts__list-item Guarana Extract w/ 10% Caffeine
                    span 4
                li.facts__list-item L-Phenylalanine
                    span 67
                li.facts__list-item Niacin
                    span 87
                li.facts__list-item Red Pepper Extract
                    span 323
                li.facts__list-item Vitamin B6
                    span 8
                li.facts__list-button 
                    a(href="../fonts/download/download.txt" download) Download Specs 
                        span (50kb)
            .facts__description 
                .facts__description-image
                    img(src="img/Citrus.webp", alt="green coffee")
                .facts__description-title 
                    h2 Citrus Aurantium
                    p 100 mg
                p.facts__description-text Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__description 
                .facts__description-image
                    img(src="img/green_coffee.webp", alt="green coffee")
                .facts__description-title 
                    h2 Green Coffee Extract
                    p 72 mg
                p.facts__description-text Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__description 
                .facts__description-image
                    img(src="img/GreenTea.webp", alt="green coffee")
                .facts__description-title 
                    h2 Green Tea Extract
                    p 88 mg
                p.facts__description-text Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__description 
                .facts__description-image
                    img(src="img/guarana.webp", alt="green coffee")
                .facts__description-title 
                    h2 Guarana Extract w/ 10% Caffeine
                    p 4 mg
                p.facts__description-text Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__description 
                .facts__description-image
                    img(src="img/l-phenylalanine.webp", alt="green coffee")
                .facts__description-title 
                    h2 L-Phenylalanine
                    p 67 mg
                p.facts__description-text Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__description 
                .facts__description-image
                    img(src="img/Niacin.webp", alt="green coffee")
                .facts__description-title 
                    h2 Niacin
                    p 87 mg
                p.facts__description-text Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__description 
                .facts__description-image
                    img(src="img/red-pepper.webp", alt="green coffee")
                .facts__description-title 
                    h2 Red Pepper Extract
                    p 323 mg
                p.facts__description-text Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            .facts__description 
                .facts__description-image
                    img(src="img/VitaminB6.webp", alt="green coffee")
                .facts__description-title 
                    h2 Vitamin B6
                    p 8 mg
                p.facts__description-text Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.

       
        
        
         
       
       

       
            
        

