section.rezults 
      .container.rezults__container
        .rezults__title.section__title
            h2 Real Man   
            p  Real Results   
            p Don’t forget to check these real success.
        .rezults__slider
            img(src="../img/real_man-after.jpg", alt="real man after")
