section.description
    .container.description__container
        .description__image 
            img(src="../img/Weight_Loss.png", alt="weight loss image")
        .description__content 
            ul.description__content-item 
                li 100
                li MG
                li Per Capsule
            ul.description__content-item 
                li 60
                li Capsules
                li Per Bottle
            ul.description__content-item 
                li 900
                li PLUS
                li Satisfied Customers