section.facts
    .container.facts__container

        .facts__title.section__title
            h2 Supplement    
            p  Facts
            p We’re brave enough to show what we use.
        
        ul.facts__list
            li Ingredients 
                span Per Serving
                span (MG)
            li Citrus Aurantium
                span 100
            li Green Coffee Extract
                span 72
            li Green Tea Extract
                span 88
            li Guarana Extract w/ 10% Caffeine
                span 4
            li L-Phenylalanine
                span 67
            li Niacin
                span 87
            li Red Pepper Extract
                spa 323
            li Vitamin B6
                span 8
        
        .facts__description 
            .facts__description-image
                img(src="../img/green_coffee.jpg", alt="green coffee")
            .facts__description-title 
                h2 Green Coffee Extract
                p 72 mg
            p.facts__description-text Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet dolore magna aliquam erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
         
       
       

       
            
        

