section.supplement#supplement
    .container.supplement__container
        .supplement__image
            img(src="../img/supplement_img.png", alt="") 
        .supplement__content
            .supplement__content-title 
                h2 A Supplement
                p $29 USD
            .supplement__content-text 
                p Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tincidu nt ut laoreet.
            .supplement__content-button 
               a(href="#", target="_blank",) ORDER NOW
