section.orderNow
    .container.orderNow__container
        .orderNow__text 
            .orderNow__text-title 
                h1 Do It Now
                h2 Or You Never Get It Back
            .orderNow__text-text 
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
            .orderNow__text-button-group
                button ORDER NOW
                button Watch The Video
        .orderNow__image
            picture 
                source(media="(max-width:600px )", srcset="img/Weight_Loss.png")
                img(src="img/header_img.png", alt="weight loss image")
