@import "../../node_modules/normalize.css/normalize.css";

@import "common/global";

@import "common/header";

@import "common/section-do_it.scss";

@import "common/sec_description.scss";

@import "common/footer";
