@import "../../node_modules/normalize.css/normalize.css";

@import "mixins/media";
@import "utils/variables.scss";
@import "utils/fonts.scss";

@import "common/global";

@import "common/header";

@import "common/section-do_it.scss";

@import "common/sec_description.scss";

@import "common/sec_fetures.scss";

@import "common/footer";
