

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}



a {
    text-decoration: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
header {
    margin: 0 auto;
}
section{
    margin: 0 auto;
}
footer{
    margin: 0 auto;
}