

*,
*::before,
*::after {
    box-sizing: inherit;
}
*:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}



a {
    text-decoration: none;
}
button{
    cursor: pointer;
}

button:hover{
    transition: 0.4s ease-in;
    transform: scale(1.1);
}
input{
    border: none;
}
input:focus,textarea:focus{
box-shadow: 0px 0px 10px 5px $water-blue;

}
.container{
    max-width: 1170px;
    margin: 0 auto;
    @include media-tablet-horizontal{
        padding: 0 20px;
    }
}
header, section, footer {
    max-width: 1500px;
    margin: 0 auto;
}
.section__title{
     display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         margin-bottom: 73px;
         @include media-tablet{
             margin-bottom: 20px;
         }
            h2{
                margin: 0;
                padding:10px;
                @include Text-Style-7;
                border-right: 2px solid $water-blue;
                text-transform: uppercase;
                line-height: 1.2;
                @include media-tablet{
                   font-size: 1.5rem;
                  padding: 5px 10px;
                  
                }
            }
            p{
                margin-top: 16px;
                @include Text-Style-10;
                @include media-tablet{
                    font-size: 1rem;
                 }
                
            }
            h2+p{
                margin: 0;
                padding: 0;
                padding-left: 10px;
                font-family: Raleway;
                font-size: 1.88rem;
                color: $charcoal-grey;
                text-transform: uppercase;
                line-height: 1.2;
                @include media-tablet{
                    font-size: 1.5rem;
                    line-height: 1.8;
                 }
            }
}