

.header {
  position: sticky;
  top:0;
  z-index: 5;
  background-color: $white;
  padding: 27px 0 0px 0;
  .header__container{
      max-width: 1170px;
      margin: 0px auto;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $white-four;
      padding-bottom: 24px;
  }
  .header__logo{
    z-index: 5;
      display: flex;
      justify-content:space-around;
      align-items: center;
      padding-left: 14px;
      cursor: pointer;
      transition: 0.5s ease-in;
      span{
        @include Text-Style;
      }
      img{
         max-width: 100%;
          padding-right: 12px;
      }
  }
  .header__logo:hover{
    transform: scale(1.1);
  }
  .header__nav{
    z-index: 5;
      margin-left: auto;
      padding-right: 31px;
      cursor: pointer;
      .burger-item-1, .burger-item-2, .burger-item-3 {
        width: 35px;
  height: 5px;
  background-color:$brownish-grey;
  margin: 6px 0;
  transition: 0.6s;
      }
  }
  .header__nav.change{
    .burger-item-1 {
      transform: rotate(-45deg) translate(-9px, 6px) ;
      background-color:$water-blue;
    }

    .burger-item-2 {
      opacity: 0;
    }
    .burger-item-3 {
      transform: rotate(45deg) translate(-8px, -8px) ;
      background-color:$water-blue;
    }
    
  }
  .header__menu{
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -100vh;
    left: 0;
    background-color: $pale-grey-two;
    text-transform: uppercase;
    transition: top 1s ease-in;
    .header__menu-list{
      max-width: 70%;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      padding: 0;
      margin: 20vh auto 0;
      li{
        cursor: pointer;
        border-radius: 2em;
        transition: 0.8s ease-in;
        //margin: 0 auto;
        a{
          display: block;
          padding:0em 2em;
          text-decoration: none;
          @include Text-Style;
          font-size: 2rem;
          transition: 0.6s ease-in;
        }
      }
      li:hover{
        background-color: $water-blue;
       
        a{
          color: $white;
        }
      }
     
    }
  }
  .header__menu.animate_menu{
    top:0;
  }
}