

.header {
  position: sticky;
  top:0;
  z-index: 5;
  background-color: $white;
  padding-top: 27px;
  transition: 0.8s ease-in;
  @include media-tablet-horizontal{
    padding-top: 10px;
  }
  .header__container{
      max-width: 1170px;
      margin: 0px auto;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $white-four;
      padding-bottom: 24px;
      @include media-tablet-horizontal{
        padding-bottom: 10px;
      }
  }
  .header__logo{
    z-index: 5;
      display: flex;
      justify-content:space-around;
      align-items: center;
      padding-left: 14px;
      cursor: pointer;
      transition: 0.5s ease-in;
      span{
        @include Text-Style;
      }
      img{
         max-width: 100%;
          padding-right: 12px;
          @include media-tablet-horizontal{
            max-width: 30%;
          }
      }
  }
  .header__logo:hover{
    transform: scale(1.1);
  }
  .header__nav{
    z-index: 5;
      margin-left: auto;
      padding-right: 31px;
      cursor: pointer;
      .burger-item-1, .burger-item-2, .burger-item-3 {
        width: 35px;
        height: 5px;
        background-color:$brownish-grey;
        margin: 6px 0;
        transition: 0.6s;
  @include media-tablet-horizontal{
    width: 30px;
    height: 4px;
    background-color:$brownish-grey;
    margin: 4px 0;
  }
      }
  }
  .header__nav.change{
    .burger-item-1 {
      transform: rotate(-45deg) translate(-9px, 6px) ;
      background-color:$water-blue;
      @include media-tablet-horizontal{
        transform: rotate(-45deg) translate(-4px, 3px) ;
      }
    }

    .burger-item-2 {
      opacity: 0;
    }
    .burger-item-3 {
      transform: rotate(45deg) translate(-8px, -8px) ;
      background-color:$water-blue;
     
    }
    
  }
  .header__menu{
    display: none;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    top: -100vh;
    left: 0;
    background-color: $pale-grey-two;
    text-transform: uppercase;
    transition: top 1s ease-in;
    .header__menu-list{
      max-width: 80%;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      margin: 20vh auto 0;
      @include media-custom(450px){
        grid-template-columns: 1fr;
        margin: 10vh auto 0;
      }
      li{
        grid-column-start: 1;
        cursor: pointer;
        border-radius: 1em;
        transition: 0.8s ease-in;
        a{
          display: block;
          padding:0em 1.2em;
          text-decoration: none;
          @include Text-Style;
          font-size: 1.2rem;
          text-align: center;
          transition: 0.6s ease-in;
          @include media-custom(550px){
            font-size: 1rem;
          }
        }
      }
      li:nth-child(2n+2){
        grid-column-start: 2;
        @include media-custom(450px){
          grid-column-start: 1;
        }
      }
      li:hover{
        background-color: $water-blue;
       
        a{
          color: $white;
        }
      }
     
    }
  }
  .header__menu.animate_menu{
    top:0;
  }
}

.header.scrolling{
  padding-top: 10px;
  .header__container{
    padding-bottom: 10px;
  }
  .header__logo{
    img{
      max-width: 40%;
    }
  }

}