@import "../mixins/media";
@import "../utils/variables.scss";
@import "../utils/fonts.scss";

header {
    width: 220px;
    background-color: red;

    @include media-tablet {
        width: 500px;
    }
}
