

.header {
  max-width: 1500px;
  background-color: $white;
  padding: 27px 0 0px 0;
  .header__container{
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $white-four;
      padding-bottom: 24px;
  }
  .header__logo{
      display: flex;
      justify-content:space-around;
      align-items: center;
      padding-left: 14px;
      span{
        @include Text-Style;
      }
   
      img{
          padding-right: 12px;
          cursor: pointer;
      }
  }
  .header__nav{
      margin-left: auto;
      padding-right: 31px;
      cursor: pointer;
  }
}
