.fetures{
    background-color: $pale-grey;
    .fetures__container{
     display: grid;
     justify-content: space-around;
     grid-template-columns:minmax(auto,255px) minmax(auto,340px) minmax(auto,255px);
     padding-top: 110px;
       
        .fetures__title {
            grid-column-start: 2;
        /* display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         margin-bottom: 73px;
            h2{
                margin: 0;
                padding: 0;
                @include Text-Style-7;
                border-right: 1px solid $water-blue;
                padding-right: 10px;
                text-transform: uppercase;
            }
            p{
                margin-top: 16px;
                @include Text-Style-10;
                
            }
            h2+p{
                margin: 0;
                padding: 0;
                padding-left: 10px;
                font-family: Raleway;
                font-size: 30px;
                font-weight: 300;
                color: $charcoal-grey;
                text-transform: uppercase;
            }*/
           
        }

        .fetures__img{
            grid-column-start: 2;
        }

        .fetures__list-container-left{
            grid-column-start: 1;
            .fetures__contant-list{
                text-align: right;
                li:first-of-type{
                   border-right: 5px solid $water-blue;
                   padding-right: 15px;
                   margin-top: 63px;
                    }
            }
        }
        .fetures__list-container-right{
            grid-column-start: 3;
            .fetures__contant-list{
                text-align:left;
                li:first-of-type{
                    border-left: 5px solid $water-blue;
                    padding-left: 15px;
                    margin-top: 63px;
                     }
            }
        }
        .fetures__contant-list {
            list-style: none;
            padding: 0;
            margin-bottom: 80px;

            li:first-of-type{
            @include Text-Style-11;
            text-transform: uppercase;
            margin-bottom: 15px;
            padding-bottom: 15px;

            }

            li:last-of-type{
                font-family: Lato;
                font-size: 16px;
                color: $slate-grey;
            }
        }
       
    }
}