.facts{
    background-color: $pale-grey;
    padding: 110px 0;
    .facts__container{
        .facts__title{
            max-width: 340px;
            margin: 0 auto;
        }
        .facts__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 75px;
        .facts__list{
            
            max-width: 460px;
            list-style: none;
            padding: 0;
           
            cursor: pointer;

            li{
                @include Text-Style-17;
                border-bottom: 1px solid $white-four;
                padding: 5px;
                span{
                  float: right;
                }
            }
            li:hover{
                transition: 0.4s ease-in;
                transform: scaleY(1.2);
                transform: scaleX(1.02);
                box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.24);
                 border: solid 1px #d7d7d7;
                background-color: $white;
            }
            li:first-of-type{
                font-family: Lato;
                font-size: 24px;
                font-weight: 900;
                line-height: 0.92;
                letter-spacing: 0.6px;
                text-align: left;
                color: $charcoal-grey;
                text-transform: uppercase;
                padding-bottom: 30px;
                border-bottom: 5px solid $charcoal-grey;
                margin-bottom: 30px;
                span+span{
                    display: inline-block;
                    padding-top: 5px;
                    clear: both;
                    @include Text-Style-17;
                 
                }
            }
            li:first-of-type:hover{
                transition: 0.4s ease-in;
                transform: scale(1);
                box-shadow:none;
                 border:none;
                 border-bottom: 5px solid $charcoal-grey;
                background-color: $white;
            }
            
        }

        .facts__description{
            margin-left: 120px;
            max-width: 360px;
            .facts__description-image{
                width: 100px;
                height: 115px;
               clip-path:  polygon(50% 0%, 50% 0%, 100% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                
            }
            .facts__description-title{
                border-left: 5px solid $water-blue;
                padding-left: 16px;
                h2{
                    @include Text-Style-12;
                    text-transform: uppercase;
                }
                p{
                    font-family: Lato;
                    font-size: 16px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.5;
                    letter-spacing: 0.4px;
                    text-align: left;
                    color: $charcoal-grey;
                }
            }
            .facts__description-text{
                margin-top: 40px;
                font-family: Lato;
                font-size: 16px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.4px;
                text-align: left;
                color: $charcoal-grey;
            }
        }
    }
    }
}
    
         