
.rezults{
    background-color: $white;
    padding: 120px 0 120px;
    .rezults__container{


        .rezults__title{
            max-width: 420px;
            margin: 0 auto 78px;
        }
       
    }
}


