.subscribe{
    background-color: $black;
    padding: 85px 0;
    .container{
        .subscribe__title{
            max-width: 520px;
            margin: 0 auto;
            h2{
                color: $white-three;
            }
            h2+p{
                color: $white-three;
            }
           
        }
        .subscribe__form{
            max-width: 620px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            padding: 36px; 

            #subscribe_email{
                width: 400px;
                padding: 20px 30px;
                border-radius: 25px 0  0 25px;
                @include media-custom(600px){
                    width: 100%;
                    border-radius: 25px;
                    padding: 10px 15px;
                }
            }
            #subscribe_email::placeholder{
                @include Text-Style-21;
            }
            #subscribe_email:focus{
              transform: scale(1.03);
            }
            #subscribe_button{
                width: 150px;
                margin-left: -5px;
                padding: 20px 30px;
                border: none;
                background-color: $water-blue;
                border-radius: 0px 25px  25px 0px;
                @include Text-Style-20;
                text-transform: uppercase;
                @include media-custom(600px){
                    margin-top: 20px;
                    border-radius: 25px;
                    padding: 10px 15px;
                }
            }
            
    }
    
}
}