.supplement{
    padding: 120px 0 25px 0;
    background-image: url(../../img/supplement_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 50%;
    @include media-tablet-horizontal{
        padding-top: 60px;
    }
    .supplement__container{
        display: flex;
      justify-content: space-between;
        .supplement__image{
           width: 64%;
           @include media-custom(900px){
               width: 50%;
           }
           img{
               max-width: 100%;
               object-fit: cover;
           }
        }
        .supplement__content{
            width: 30%;
            margin-left: 40px;
            @include media-custom(900px){
                width:40%;
                align-items: flex-start;
            }
            .supplement__content-title{
                padding-top: 15%;
                margin-bottom: 25px;
                @include media-custom(900px){
                  padding-top: 0;
                }
                h2{
                    text-transform: uppercase;
                    padding-left: 25px;
                    margin-bottom: 5px;
                    border-left: 5px solid $water-blue;
                    @include Text-Style-18;
                    line-height: 0.85;
                    @include media-tablet{
                        font-size: 1.5rem;
                    }
                }
                p{
                    margin-top: 0;
                    padding-left: 30px;
                    line-height: 0.5;
                    @include Text-Style-19;
                }
            }
            .supplement__content-text {
                @include Text-Style-4;
                margin-bottom: 40px;
                @include media-tablet{
                   margin-bottom: 20px;
                 }
            }
            .supplement__content-button a{
                display: inline-block;
                text-decoration: none;
                @include Text-Style-6;
                padding: 20px 40px;
                background-color: $water-blue;
                border-radius: 19px;
                @include media-tablet{
                   font-size: 1rem;
                   padding: 10px 20px;
                }
            }
        }
    }
}