.testimonials{
    background: url(../../img/testimonias_bg.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 110px 0;
    position: relative;
    .testimonials__container{
        position: relative;
        z-index: 5;
        .testimonials__title{
            max-width: 400px;
            margin: 0 auto;
            h2{
                font-weight: 800;
                color: $white-three;
            }
            p{
                @include Text-Style-14;
            }
            h2+p{
                @include Text-Style-13;

            }
          
        }
        .testimonials__slider {
            @include Text-Style-15;
            max-width: 750px;
            margin: 0 auto;
            display: flex;
            overflow: hidden;
            .testimonials__slider-item{
                position: relative;
                right: 0;
                transition: right 1s ease-in-out;
                min-width: 735px;
                padding-bottom: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .testimonials__slider-text{
                padding: 10px;
                margin-bottom: 20px;
                text-align: center;
                }
                .testimonials__slider-name{
                    margin-left: 30px;
                    text-align: left;
                   
                p:first-of-type{
                    font-family: Raleway;
                    font-size: 16px;
                     font-weight: bold;
                         letter-spacing: 0.4px;
                        color: $white-three;
                }
            p:last-of-type{
                margin-top: 8px;
               padding: 0;
                width: 36px;
                height: 5px;
                background-color: $water-blue;
                border-radius: 5px;
            }}
            }
            .testimonials__slider-item:hover{
                transform: scale(1.1);
                transition: 0.7s ease-in;
            }
            p{
                padding: 5px;
                margin: 0;
            }
            .testimonials__slider-img{ 
              
                width: 65px;
                height: 72.6px;
                clip-path:  polygon(50% 0%, 50% 0%, 100% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            }
        }
        .testimonials__slider-points{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            .testimonials__slider-point{
                width: 13px;
                height: 13px;
                border-radius: 50%;
                margin-right: 15px;
                background-color: $charcoal-grey-two;
            }
            .testimonials__slider-point.active{
                background-color: $water-blue;
            }
        }
    }
    
}
.testimonials::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:$dark;
   opacity: 0.9;
    z-index: 2;
}
        