.subscribe{
    background-color: $black;
    padding: 85px 0;
    .container{
        .subscribe__title{
            max-width: 520px;
            margin: 0 auto;
            h2{
                color: $white-three;
            }
            h2+p{
                color: $white-three;
            }
           
        }
        .subscribe__form{
            max-width: 520px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: 36px 0; 

            #subscribe_email{
                display: inline-block;
                max-width: 400px;
                padding: 20px 30px;
                border-radius: 20px 0  0 20px;
            }
            #subscribe_email::placeholder{
                @include Text-Style-21;
            }
            #subscribe_button{
                margin-left: -5px;
                padding: 20px 30px;
                border: none;
                background-color: $water-blue;
                border-radius: 0px 20px  20px 0px;
                @include Text-Style-20;
            }
            
    }
    
}
}