.facts{
    background-color: $pale-grey;
    padding: 110px 0;
    @include media-tablet{
        padding: 60px 0;
    }
    .facts__container{
        .facts__title{
            max-width: 340px;
            margin: 0 auto;
        }
        .facts__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 75px;
        .facts__list{
            margin-top: 0;
            width: 40%;
            list-style: none;
            padding: 0;
            cursor: pointer;
            @include media-custom(900px){
                width: 60%;
            }
            @include media-custom(700px){
                width: 80%;
            }
            @include media-custom(550px){
                width: 100%;
            }
            li{
                @include Text-Style-17;
                border-bottom: 1px solid $white-four;
                padding: 8px;
                span{
                  float: right;
                }
            }
            li:first-of-type{
                font-family: Lato-Black;
                font-size: 1.5rem;
                line-height: 0.92;
                letter-spacing: 0.6px;
                text-align: left;
                color: $charcoal-grey;
                text-transform: uppercase;
                padding-bottom: 30px;
                border-bottom: 5px solid $charcoal-grey;
                margin-bottom: 30px;
                @include media-custom(400px){
                    font-size: 1.2rem;
                }
                span+span{
                    display: inline-block;
                    padding-top: 5px;
                    clear: both;
                    @include Text-Style-17;
                 
                }
            }
            .activ__item{
                transition: 0.5s ease-in;
                transform: scale(1.1);
                box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.24);
                font-weight: 600;
              @include media-tablet{
                transform: scale(1.06);
              }
            }
           
            .facts__list-button{
                margin-top: 50px;
                border-radius: 30px;
                color: $white-two;
                background-color: $water-blue;
                @include media-tablet{
                    margin-top: 20px;
                }
                a{
                    padding: 17px 40px;
                    display: block;
                    text-decoration: none;
                    color: inherit;
                    text-transform: uppercase;
                    @include Text-Style-6;
                    @include media-tablet{
                      padding: 10px 15px;
                    }
                    span{
                        font-weight: 300;
                    }
                }
            }
            .facts__list-button:hover{
                transition: 0.5s ease-in;
                transform: scale(1.1);
            }
            
        }

        .facts__description{
           display: none;
           opacity: 0.5;
           width: 40%;
           @include media-custom(900px){
            width: 60%;
        }
        @include media-custom(700px){
            width: 80%;
        }
        @include media-custom(550px){
            width: 100%;
        }
            .facts__description-image{
                width: 100px;
                height: 115px;
                object-fit: cover;
                object-position: 50% 50%;
               clip-path:  polygon(50% 0%, 50% 0%, 100% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                
            }
            .facts__description-title{
                border-left: 5px solid $water-blue;
                padding-left: 16px;
                h2{
                    @include Text-Style-12;
                    text-transform: uppercase;
                }
                p{
                    font-family: Lato;
                    font-size: 16px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.5;
                    letter-spacing: 0.4px;
                    text-align: left;
                    color: $charcoal-grey;
                }
            }
            .facts__description-text{
                margin-top: 40px;
                font-family: Lato;
                font-size: 16px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.4px;
                text-align: left;
                color: $charcoal-grey;
            }
        }
        .facts__description.activ__description{
            display: block;
           opacity: 0;
        }
        .facts__description.activ__description.activ__description-animation{
            opacity: 1;
            transition: opacity 1.5s ease-in;
        }
    }
    }
}
    
         