

.rezults{
    background-color: $white;
    padding: 120px 0 120px;
    .rezults__container{
        .rezults__title{
            max-width: 420px;
            margin: 0 auto 78px;
        }
        .rezults__slider{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .rezults__slider-prevArrow, .rezults__slider-nextArrow{
                cursor: pointer;
            }
            .rezults__slider-prevArrow:hover, .rezults__slider-nextArrow:hover{
                transition: 0.2s ease-in;
                transform: scale(1.1);
            }
            
            }
            .result__slider-display{
                width: 900px;
                height: 400px;
                display: flex;
                overflow: hidden;
            }

            .rezults__slider-item{
                min-width:900px;
                display: flex;
                position: relative;
                justify-content:end;
                right: 0;
                transition: right 0.8s ease-in;

                .slider__img-before{
                    position: absolute;
                    top:0px;
                    left: 310px;
                    img{
                        width: 360px;
                    }
                }

                .slider__img-before.activ__item{
                    top:50px;
                    left: 100px;
                   
                    transition: all 1s ease-in;
                    transition-delay: 2s;
                    img{
                        width: 260px;
                      
                        transition: width 1s ease-in;
                        transition-delay: 2s;
                    }
                }
                
                .slider__img-after{
                    img{width: 360px;}
                }
                .rezults__slider-text{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;
                    align-content: center;
                    width: 200px;
                    margin-left: 30px;
                    background-color: #fff;
                    .rezults__slider-text-before,.rezults__slider-text-after{
                        padding: 25px 12.5px 25px 0;
                        font-family: Lato;
                        font-size: 40px;
                        font-weight: bold;
                        letter-spacing: 0.4px;
                        text-align: left;
                        color: $charcoal-grey;

                        span{
                            font-size: 16px;
                            font-weight: 300;
                        }
                        p{
                            font-size: 16px;
                            font-weight: 300;
                            color: $water-blue;
                        }
                    }
                    .rezults__slider-text-after{
                        opacity: 0;
                    }
                    .rezults__slider-text-after.activ__item-text{
                        opacity: 1;
                        transition: opacity 1s ease-out;
                        transition-delay: 2s;
                    }
                    .rezults__slider-text-name{
                        @include Text-Style-12;
                        line-height: 1;
                        padding-left: 21px;
                        border-left: 5px solid $water-blue;
                        line-height: 0.6;
                        p{
                            font-size: 16px;
                            font-weight: 300;
                            line-height:0.1;
                        }
                    }
                }
            }
            .rezults__slider-points{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 40px;
            }
            .rezults__slider-point{
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: $light-blue-grey;
                margin: 13px;
                
            }
            .rezults__slider-point.active{
                background-color: $water-blue;
                transition: background-color 0.8s ease-in-out ;
            }
            }
        }
    

