

.description{
    background-image: linear-gradient(to top, $dark, $dark-two);
    
    .description__container{
        display: flex;
        position: relative;
        @include media-custom(450px){
            padding: 30px 0px 30px 40px;
        }
    }
    .description__image {
        position:absolute;
       top: -25%;
        left: -8%;
        width: 35%;
        @include media-custom(1280px){
            left:0;
         }
         @include media-tablet-horizontal{
           top:-40%;
         }
         @include media-custom(1000px){
          top:-25%;
         }
         @include media-tablet{
            top:-35%;
          }
          @include media-custom(600px){
           display: none;
           }
        
        
       img{
          max-width: 100%;
       }
    }
    .description__content{
        display: flex;
        width: 75%;
        justify-content: space-around;
       margin-left:25% ;
       @include media-custom(600px){
           width: 100%;
       margin: 0;
        flex-wrap: wrap;
        }
    }
    .description__content-item{
        list-style: none;
        padding:117px 0;
        margin: 0;
        @include media-tablet-horizontal{
           padding: 90px 0;
        }
        @include media-tablet{
          padding: 50px 0;
          }
          @include media-custom(450px){
              display: flex;
              width: 100%;
              justify-content: flex-start;
              padding: 0;
              margin-top: 20px;
          }
        
        li:first-of-type{
            @include Text-Style-8;
            padding-left: 22px;
            border-left: 5px solid $water-blue;
            border-radius: 2px;
            margin-bottom: 25px;
            @include media-tablet-horizontal{
                font-size: 3.5rem;
            }
            @include media-tablet{
                font-size: 2rem;
                margin-bottom: 0.5em;
                padding-left: 0.5em;
              }
            @include media-custom(600px){
               font-size: 1.5rem;
              }
        }
        li{
            text-transform: uppercase;
            font-family: Lato-Bold;
            font-size: 1rem;
            line-height: 1.38;
           color: $water-blue;
            letter-spacing: 0.4px;
            text-align: left;
           margin-bottom: 10px;
        }
       
        li:last-of-type{
            font-family: Lato;
            line-height: 1.5;
            letter-spacing: 0.4px;
            text-align: left;
            color: $greyish;
           text-transform: inherit;
        }
        li{
           @include media-custom(600px){
                font-size: 0.8rem;
               }
               @include media-custom(450px){
                   min-width: 65px;
                   margin-right: 20px;
               }
        }
      
    }
}
   
       
            