.issue{
    padding: 100px 0;
    .issue__title{
        max-width: 400px;
        margin: 0 auto;
        h2{
            font-weight: 900;
            padding: 10px;
        }
        p{
            padding: 5px;
            margin-top: 0;
        }
        h2+p{
           padding: 10px;
        }
    }
}