// Файл для подключения нестандартных шрифтов
@font-face {
    font-family: HelveticaNeueLTStd-Hv;
    src: local(HelveticaNeueLTStd-Hv),
      url(../../fonts/Helvetica/HelveticaNeueLTStd-Hv.woff2) format("woff2"),
      url(../../fonts/Helvetica/HelveticaNeueLTStd-Hv.woff) format("woff"),
  }
  @font-face {
    font-family: Lato;
    src: local(Lato-Regular),
      url(../../fonts/Lato/Lato-Regular.woff2) format("woff2"),
      url(../../fonts/Lato/Lato-Regular.woff) format("woff"),
  }

  @font-face {
    font-family: Lato-Italic;
    src: local(Lato-Italic),
      url(../../fonts/Lato/Lato-Italic.woff2) format("woff2"),
      url(../../fonts/Lato/Lato-Italic.woff) format("woff"),
  }

  @font-face {
    font-family: Lato-Bold;
    src: local(Lato-Bold),
      url(../../fonts/Lato/Lato-Bold.woff2) format("woff2"),
      url(../../fonts/Lato/Lato-Bold.woff) format("woff"),
  }

  @font-face {
    font-family: Lato-Black;
    src: local(Lato-Black),
      url(../../fonts/Lato/Lato-Black.woff2) format("woff2"),
      url(../../fonts/Lato/Lato-Black.woff) format("woff"),
  }
 
  @font-face {
    font-family: Raleway;
    src: local(Raleway-Regular),
      url(../../fonts/Raleway/Raleway-Regular.woff2) format("woff2"),
      url(../../fonts/Raleway/Raleway-Regular.woff) format("woff"),
  }

  @font-face {
    font-family: Raleway-Black;
    src: local(Raleway-Black),
      url(../../fonts/Raleway/Raleway-Black.woff2) format("woff2"),
      url(../../fonts/Raleway/Raleway-Black.woff) format("woff"),
  }

  @font-face {
    font-family: Raleway-Bold;
    src: local(Raleway-Bold),
      url(../../fonts/Raleway/Raleway-Bold.woff2) format("woff2"),
      url(../../fonts/Raleway/Raleway-Bold.woff) format("woff"),
  }
 
  @mixin Text-Style-8 {
    font-family:  Lato-Black;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 0.33;
    letter-spacing: 1.8px;
    text-align: left;
    color: $white;
  }
  @mixin Text-Style-2 {
    font-family: Raleway-Black;
    font-size: 4.5rem;
    font-weight: 900;
    //line-height: 0.49;
    text-align: left;
    color: $charcoal-grey;
  }
  @mixin Text-Style-7 {
    font-family: Raleway-Bold;
    font-size: 1.88rem;
    font-weight: 800;
    line-height: 0.73;
    letter-spacing: 0.75px;
    text-align: center;
    color: $charcoal-grey;
  }
  @mixin Text-Style-13 {
    font-family: Raleway-Bold;
    font-size: 1.88rem;
    font-weight: 800;
    line-height: 0.73;
    letter-spacing: 0.75px;
    text-align: center;
    color: $white-three;
  }
  @mixin Text-Style-18 {
    font-family: Raleway;
    font-size: 1.88rem;
    font-weight: bold;
    line-height: 1.17;
    text-align: left;
    color: $charcoal-grey;
  }
  @mixin Text-Style-3 {
    font-family: Raleway-Bold;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 0.6px;
    text-align: left;
    color: $charcoal-grey;
  }
  @mixin Text-Style-11 {
    font-family: Raleway;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: $charcoal-grey;
  }
  @mixin Text-Style-19 {
    font-family: Lato;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: left;
    color: $charcoal-grey;
  }
  @mixin Text-Style-9 {
    font-family: Lato-Bold;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: 0.4px;
    text-align: left;
    color: $water-blue;
  }
  @mixin Text-Style-6 {
    font-family: Lato-Bold;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: $white-two;
  }
  @mixin Text-Style-5 {
    font-family: Lato-Bold;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.88;
    letter-spacing: 0.4px;
    text-align: left;
    color: $charcoal-grey;
  }
  @mixin Text-Style-20 {
    font-family: Lato-Bold;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    color: $white;
  }
  @mixin Text-Style-16 {
    font-family: Raleway;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: $white-three;
  }
  @mixin Text-Style-12 {
    font-family: Raleway;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    color: $charcoal-grey;
  }
  @mixin Text-Style-4 {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: $brownish-grey;
  }
  @mixin Text-Style-22 {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.38;
    letter-spacing: 0.4px;
    text-align: left;
    color: $brownish-grey;
  }
  @mixin Text-Style-21 {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: $greyish-two;
  }
  @mixin Text-Style-17 {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.4px;
    text-align: left;
    color: $charcoal-grey;
  }
  @mixin Text-Style-14 {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    color: $battleship-grey;
  }
  @mixin Text-Style-10 {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    color: $steel;
  }
  @mixin Text-Style-15 {
    font-family: Lato-Italic;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    color: $greyish;
  }
  @mixin Text-Style {
    font-family: HelveticaNeueLTStd-Hv;
    font-size: 0.9rem;
    line-height: 3.33;
    text-align: left;
    color: $slate-grey-two;
  }