// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 800px;
$mediaWidthTabletHorizontal: 1170px;
//Colors
$pale-grey: #fafcfc;
$charcoal-grey: #333740;
$water-blue: #18a3dd;
$brownish-grey: #666666;
$greyish: #a9a9a9;
$white: #ffffff;
$steel: #83888f;
$slate-grey: #5b5f64;
$pale-grey-two: #f1f4f5;
$white-two: #f1f1f1;
$greyish-two: #ababab;
$dark: #0f0816;
$black: #000000;
$dark-two: #21172b;
$white-three: #e5e5e5;
$battleship-grey: #767a7d;
$brownish-grey-two: #6d6d6d;
$silver: #c6cfd2;
$slate-grey-two: #656973;
$white-four: #ebebeb;
$white-five: #dcdcdc;
$black-two: #1d1d1d;
$charcoal-grey-two: #342e3a;
$light-blue-grey: #d8e4e8;
$white-six: #d9d9d9;