@import "../utils/variables";

@mixin media-tablet {

    @media (max-width: $mediaWidthTablet) {
        @content;
    }
}

@mixin media-tablet-horizontal {

    @media (max-width: $mediaWidthTabletHorizontal) {
        @content;
    }
}

@mixin media-custom($width) {

    @media (max-width: $width) {
        @content;
    }
}
